@use '../../styles/variables' as global;

.navmenuStyle {
  position: fixed;
  @include global.CenterColumn;
  margin-left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  animation: slideIn 0.5s ease-out forwards;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: global.$MAINFONT;

  ul {
    width: 80vw;
    margin: 0;
    padding: 0;
    color: black;
    list-style-type: none;
    a {
      padding: 1rem 0rem;
      color: inherit;
      text-decoration: none;
      font-size: global.$subheader;
    }
  }

  p {
    font-size: 1rem;
    font-weight: global.$thin;
  }

  form {
    box-sizing: border-box;
    width: 60vw;

    input {
      display: block;
      border-radius: 10px;
      padding: 0.5rem;
      box-sizing: border-box;
    }

    input[type='email'],
    input[type='password'] {
      width: 100%;
      background-color: #f9f9f9;
      border-radius: 10px;
    }

    input[type='submit'] {
      width: 5rem !important;
      border-radius: 10px;
      background-color: global.$calmpink;
      align-self: flex-end;
      text-align: center;
      margin-left: auto;
    }
  }
  span,
  input[type='submit'] {
    cursor: pointer;
  }
  span {
    text-decoration: underline;
  }

  button {
    position: absolute;
    right: 5rem;
    top: 5rem;
    padding: 1rem 2rem;
    border: none;
    background-color: transparent;
  }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
