@use '../../styles/variables' as global;

.searchStyle {
  @include global.CenterColumn;
  padding: 2rem 0;
  width: 80vw;

  input {
    width: 100%;
    background-image: url('/icon.png');
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #e9e9e9;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 0.25rem;
  }
  label {
    margin-top: 1rem;
    align-self: flex-start;
    font-family: global.$MAINFONT;
    font-weight: global.$regular;

  }
  .classesContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    article {
      font-family: global.$MAINFONT;
      font-size: global.$subheader;
      margin-top: 1rem;
      text-align: center;
      width: 100%;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }

    figure {
      margin: 0 auto 1rem;
      width: 200px;
      overflow: hidden;
      h3 {
        margin: 1rem 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        display: block;
      }
    }
  }
}
